*{
    margin: 0;
    padding: 0;
}

.my-card{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.card .btn-my{
    background-color: #fda400;
}

form{
    margin-top: 3rem;
    margin-left: 15rem;
    margin-right: 15rem;
}

.nav a{
    color: #121212;
}

.nav li{
    margin-right: 1rem;
}

.nav a:hover{
    color: #ffffff;
}